language: java
cache:
  directories:
  - .autoconf
  - $HOME/.m2
  - $HOME/travis/.sonar/cache
  - $HOME/travis/.sonarscanner/
  - $HOME/.sonarscanner/sonar-scanner-2.8
sudo: false
install: true


script:  mvn -Pproduction-mode test
notifications:
    slack: tpfinal:HiKM45Mt99yllzQnQRGdIpNQ
